﻿
@{
    ViewBag.Title = "AddBooks";
}


<section class="content-header">


    <div class="col-xs-12">
        <h3 class="pull-left">
            Add Books

        </h3>
    </div>

</section>
<section class="content">
    <!-- SELECT2 EXAMPLE -->
    <!-- /.box -->
    <div class="row">

        <div class="col-md-6 col-md-offset-2">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Book</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="bookName" class="col-sm-2 control-label">Book Title</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="bookName" placeholder="Book Name">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="authorName" class="col-sm-2 control-label">Author Name</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="authorName" placeholder="Author Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="category" class="col-sm-2 control-label">Category</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="category" placeholder="Book Category">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="bDis" class="col-sm-2 control-label">Discription</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="bDis" placeholder="Book Discription">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="bCount" class="col-sm-2 control-label">Book Qty</label>

                            <div class="col-sm-10">
                                <input type="number" min="0" class="form-control" id="bCount" placeholder="Number of Copies">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Is Active
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-info pull-right" onclick="SaveFinal()">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>

    </div>

    <!-- /.row -->

    <input type="text" id="docSoGenerationId" value="@ViewBag.Id" style="display: none"/>
</section>

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>

    $(document).ready(function() {
        alert(1);
    });





    function SaveFinal() {
        if (true) {
            SaveBooks();
        }

        
    }

    function SaveBooks() {
        var jsonData = {}

        jsonData["BookName"] = $('#bookName').val();
        jsonData["BookAuthor"] = $('#authorName').val();
        jsonData["BookType"] = $('#category').val();
        jsonData["BookDescription"] = $('#bDis').val();
        jsonData["BookStock"] = $('#bCount').val();
        jsonData["IsActive"] = true;




        var urlpath = '@Url.Action("Save", "Home")';
        $.ajax({
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(jsonData),
            dataType: 'json',
            url: urlpath,
            type: "POST"
        })
          .success(function (result) {
              if (result) {

                  $('.confirm').prop("disabled", false);
                  $('.cancel').prop("disabled", false);
                  swal({
                      title: 'Saved Successfully',
                      type: 'success',
                      closeOnCancel: true

                  }, function () {

                      window.location.href = '@Url.Action("BookList", "Home")';

                  });

              } else {

                  alert('Error!!!');
              }

          });



    }



</script>

