﻿
@{
    ViewBag.Title = "BookIssue";
}

@model IEnumerable<LMS.Models.Books>

@{ var count = 1;}
<style>
    .modal-dialog {
        width: 50%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }


    .modal-contents {
        background-color: white;
    }

    .ModalHead {
        padding: 15px;
        color: white;
    }

        .ModalHead > h4 {
            color: white;
            padding-left: 10px;
        }

    a#tabA {
        text-decoration: underline;
    }
</style>



<section class="content-header">
    <div class="col-xs-12">
        <h3 class="pull-left">
            Book Issue

        </h3>

    </div>

</section>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <div class="box-body table-responsive" id="MainGradeDiv">
                        <br />
                        <table id="mytable" class="table table-bordered table-striped">
                            <thead style="background-color: darkcyan;color: white">
                                <tr>
                                    <th style="width: 2%;text-align: left">SL</th>
                                    <th style="text-align: center">Book Title</th>
                                    <th style="text-align: center">Book Author</th>
                                    <th style="text-align: center">Category</th>

                                    <th style="text-align: center">Discription</th>
                                    <th style="text-align: center">Total Copy</th>
                                    <th style="text-align: center">Rem Copy</th>


                                    <th style="text-align: center">Action</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (LMS.Models.Books item in Model)
                                {
                                    <tr>
                                        <td style="text-align: center">@count</td>
                                        <td style="text-align: center">@item.BookName</td>
                                        <td style="text-align: center">@item.BookAuthor</td>

                                        <td style="text-align: center">@item.BookType</td>
                                        <td style="text-align: center">@item.BookDescription</td>
                                        <td style="text-align: center">@item.BookStock</td>
                                        <td style="text-align: center">@item.CurrentStock</td>
                                        <td style="text-align: center">
                                            <button onclick="funcPopUp2(@item.BookID)" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-book"></span> Issue Book</button>
                                            <button href="#" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span> Return  Book</button>
                                        </td>


                                    </tr>
                                    count++;
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>





    <div class="row">

        <div class="modal fade in" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-contents">


                    <div class="ModalHead" style="background-color: teal">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Issue Books</h4>

                    </div>
                    <br />
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-xs-12" style="padding-left: 30px">

                                <form class="form-horizontal">
                                    <div class="box-body">

                    
                                        <div class="form-group">
                                            <label for="bookName1" class="col-sm-2 control-label">Book Title</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bookName1" placeholder="Book Name" value="Tech Yourself C" disabled="disabled">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="authorName1" class="col-sm-2 control-label">Author Name</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="authorName1" value="herbert schildt" disabled="disabled">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="bDis" class="col-sm-2 control-label">Number of Copy</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bDis1" placeholder="Book Qty" value="1">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="bDis" class="col-sm-2 control-label">Book Available</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bDis12" placeholder="Book Qty" value="5" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="soDate" class="col-sm-2 control-label">Date Issued</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control ddate" readonly="readonly" id="soDate1" data-date-autoclose="true" data-date-today-highlight="true" data-date-format="dd-M-yyyy">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="fDate" class="col-sm-2 control-label">Date Return</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control ddate" readonly="readonly" id="fDate2" data-date-autoclose="true" data-date-today-highlight="true" data-date-format="dd-M-yyyy">
                                            </div>
                                        </div>


                                    </div>
                                    <!-- /.box-body -->
                                    <!-- /.box-footer -->
                                </form>

                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Student Info</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="bookNo" class="col-sm-2 control-label">Student Id</label>

                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="bookNo1">
                                                </div>
                                            </div>
                                            </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="bookName1" class="col-sm-2 control-label">Student Name</label>

                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="bookName12" placeholder="Book Name">
                                                </div>
                                            </div>
                                            </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="bookName1" class="col-sm-2 control-label">Student Mobile</label>

                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="std" placeholder="Book Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>


                            <div class="box-footer">

                                <button onclick="IssueBook()" class="btn btn-info pull-right">Issue Book</button>
                            </div>
                        </div>




                    </div>




                    <br />

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closebtn1">Close</button>
                    </div>
                </div>
            </div>

            <input type="number" id="bookid" style="display:none"/>



        </div>

    </div>


</section>

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/custom-function.js"></script>
<script type="text/javascript">

    $(document).ready(function() {

        $('#mytable').dataTable();
        $('#soDate').datepicker();
        $('#fDate').datepicker();

        $('#soDate1').datepicker();
        $('#fDate2').datepicker();
    });

    //function funcPopUp() {
    //    debugger;
    //    $("#myModal2").modal();


    //}

    function IssueBook() {
        if (Validate() == true) {
            SaveIssue();
        }
    }
    function SaveIssue() {
        debugger;
        var jsonData = {};

        var currentStock = $('#bDis12').val();
        var issueDate = $('#soDate1').val();
        var returnDate = $('#fDate2').val();
        var id = $('#bookNo1').val();
        var mobile = $('#std').val();
        var bookid = $('#bookid').val();
        var stdName = $('#bookName12').val();
        var num = $('#bDis1').val();


        jsonData["BookID"] = bookid;
        jsonData["StudentID"] = id;
        jsonData["IssueDate"] = issueDate;
        jsonData["ReturnDate"] = returnDate;
        jsonData["StudentMobile"] = mobile;
        jsonData["StudentName"] = stdName;
        var urlpath = '@Url.Action("SaveIssue", "Home")';

        $.ajax({
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(jsonData),
            dataType: 'json',
            url: urlpath,
            type: "POST"
        })
            .success(function (data) {
                debugger;
                if (data == true) {
                    window.location.href = '@Url.Action("BookIssue", "Home")';


                } else {
                    ShowMessage("Something Wrong :(");

                }

            });
    }
    function Validate() {

        var isValid = true;
        var currentStock = $('#bDis12').val();
        var issueDate = $('#soDate1').val();
        var returnDate = $('#fDate2').val();
        var id = $('#fDate2').val();
        var mobile = $('#std').val();
        if (currentStock == 0 || currentStock == '') {
            isValid = false;
            alert('All Coppies are issued');
        }
        if (issueDate == '' || issueDate == null) {
            isValid = false;
            alert('Issue Date Required');
        }
        if (returnDate == '' || returnDate == null) {
            isValid = false;
            alert('Return Date Required');
        }
        if (id == '' || id == null) {
            isValid = false;
            alert('Student  ID Required');
        }
        if (mobile == '' || mobile == null) {
            isValid = false;
            alert('Student  mobile Required');
        }
        return isValid;

    }

    function funcPopUp2(id) {
        debugger;
        $("#myModal").modal();
        GetBookDetails(id);

    }

    function GetBookDetails(id) {
        debugger;
        var url = '@Url.Action("GetBookDetails" , "Home")';
        $.ajax({
            dataType: 'json',
            type: "Get",
            url:url,
            data:{id:id},
            async: false,
            success: function (data) {
                $('#bookName1').val(data.BookName);
                $('#authorName1').val(data.BookAuthor);
                $('#bDis12').val(data.CurrentStock);
                $('#bookid').val(data.BookID);



            }
        });
    }
</script>