﻿@model IEnumerable<LMS.Models.BooksIssue>

@{
    ViewBag.Title = "BookReturn";
}
@{ var count = 1;}
<style>
    .modal-dialog {
        width: 50%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }


    .modal-contents {
        background-color: white;
    }

    .ModalHead {
        padding: 15px;
        color: white;
    }

        .ModalHead > h4 {
            color: white;
            padding-left: 10px;
        }

    a#tabA {
        text-decoration: underline;
    }
</style>
<section class="content-header">
    <div class="col-xs-12">
        <h3 class="pull-left">
            Book Issue List

        </h3>

    </div>

</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <div class="box-body table-responsive" id="MainGradeDiv">
                        <br />
                        <table id="mytable" class="table table-bordered table-striped">
                            <thead style="background-color: darkcyan;color: white">
                                <tr>
                                    <th style="width: 2%;text-align: left">SL</th>
                                    <th style="text-align: center">Book</th>
                                    <th style="text-align: center">Book Author</th>
                                    <th style="text-align: center">Student Id</th>

                                    <th style="text-align: center">Name</th>
                                    <th style="text-align: center">Cell No</th>
                                    <th style="text-align: center">Issue Date</th>


                                    <th style="text-align: center">Will Return</th>
                                    <th style="text-align: center">Available </th>
                                    <th style="text-align: center">Total </th>
                                    <th style="text-align: center">Action </th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (LMS.Models.BooksIssue item in Model)
                                {
                                    <tr>
                                        <td style="text-align: center">@count</td>
                                        <td style="text-align: center">@item.BookName</td>
                                        <td style="text-align: center">@item.BookAuthor</td>

                                        <td style="text-align: center">@item.StudentID</td>
                                        <td style="text-align: center">@item.StudentName</td>
                                       

                                        <td style="text-align: center">@item.StudentMobile</td>
                                        <td style="text-align: center">@Convert.ToDateTime(item.IssueDate).ToString("dd-MMM-yyyy")</td>
                                        <td style="text-align: center">@Convert.ToDateTime(item.ReturnDate).ToString("dd-MMM-yyyy")</td>
                                        <td style="text-align: center">@item.CurrentStock</td>
                                        <td style="text-align: center">@item.BookStock</td>
                                        <td style="text-align: center">
                                          
                                            <button href="#" class="btn btn-primary"  onclick="funcPopUp2(@item.IssueID)"><span class="glyphicon glyphicon-refresh"></span> Return  Book</button>
                                        </td>


                                    </tr>
                                    count++;
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>





    <div class="row">

        <div class="modal fade in" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-contents">


                    <div class="ModalHead" style="background-color: teal">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Issue Books</h4>

                    </div>
                    <br />
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-xs-12" style="padding-left: 30px">

                                <form class="form-horizontal">
                                    <div class="box-body">


                                        <div class="form-group">
                                            <label for="bookName1" class="col-sm-2 control-label">Book Title</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bookName1" placeholder="Book Name" value="Tech Yourself C" disabled="disabled">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="authorName1" class="col-sm-2 control-label">Author Name</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="authorName1" value="herbert schildt" disabled="disabled">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="bDis" class="col-sm-2 control-label">Number of Copy</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bDis1" placeholder="Book Qty" value="1">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="bDis" class="col-sm-2 control-label">Book Available</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bDis12" placeholder="Book Qty" value="5" disabled="disabled">
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                            <label for="soDate" class="col-sm-2 control-label">Date Issued</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control ddate" readonly="readonly" id="soDate1" data-date-autoclose="true" data-date-today-highlight="true" data-date-format="dd-M-yyyy">
                                            </div>
                                        </div>*@

                                        <div class="form-group">
                                            <label for="fDate" class="col-sm-2 control-label">Date Return</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control ddate" readonly="readonly" id="fDate2" data-date-autoclose="true" data-date-today-highlight="true" data-date-format="dd-M-yyyy">
                                            </div>
                                        </div>


                                    </div>
                                    <!-- /.box-body -->
                                    <!-- /.box-footer -->
                                </form>

                               
                            </div>


                            <div class="box-footer">

                                <button onclick="ReceiveBook()" class="btn btn-info pull-right">Receive Book</button>
                            </div>
                        </div>




                    </div>




                    <br />

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closebtn1">Close</button>
                    </div>
                </div>
            </div>

            <input type="number" id="bookid" style="display:none" />



        </div>

    </div>


</section>


<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/custom-function.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $('#mytable').dataTable();
        $('#soDate').datepicker();
        $('#fDate').datepicker();

        $('#soDate1').datepicker();
        $('#fDate2').datepicker();
    });

    function funcPopUp2(id) {
        debugger;
        $("#myModal").modal();
        GetBookDetails(id);

    }
    function ReceiveBook() {
        if (Validate() == true) {
            SaveReceive();
        }
    }
    function SaveReceive() {
        var jsonData = {};
        var returnDate = $('#fDate2').val();
        var bookid = $('#bookid').val();
        jsonData["IssueID"] = bookid;
        jsonData["ActualReturnDate"] = returnDate;

        var urlpath = '@Url.Action("SaveReceive", "Home")';

        $.ajax({
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(jsonData),
            dataType: 'json',
            url: urlpath,
            type: "POST"
        })
            .success(function (data) {
                debugger;
                if (data == true) {
                    window.location.href = '@Url.Action("BookReturn", "Home")';


                } else {
                    ShowMessage("Something Wrong :(");

                }

            });
    }
    function Validate() {
        var isValid = true;
        var returnDate = $('#fDate2').val();
        var bookid = $('#bookid').val();
        if (returnDate == '' || returnDate == null) {
            isValid = false;
            alert('Return Date Required');
        }
        return isValid;
    }
     function GetBookDetails(id) {
        debugger;
        var url = '@Url.Action("GetBookDetailsIssue" , "Home")';
        $.ajax({
            dataType: 'json',
            type: "Get",
            url:url,
            data:{id:id},
            async: false,
            success: function (data) {
                $('#bookName1').val(data.BookName);
                $('#authorName1').val(data.BookAuthor);
                $('#bDis12').val(data.CurrentStock);
                $('#bookid').val(data.IssueID);



            }
        });
    }
    </script>