﻿@model IEnumerable<LMS.Models.Books>
@{
    ViewBag.Title = "BookList";
}
@{ var count = 1;}
<style>
    .modal-dialog {
        width: 50%;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }


    .modal-contents {
        background-color: white;
    }

    .ModalHead {
        padding: 15px;
        color: white;
    }

        .ModalHead > h4 {
            color: white;
            padding-left: 10px;
        }

    a#tabA {
        text-decoration: underline;
    }
</style>



<section class="content-header">
    <div class="col-xs-12">
        <h3 class="pull-left">
            Book List

        </h3>

    </div>

</section>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <div class="box-body table-responsive" id="MainGradeDiv">
                        <br />
                        <table id="mytable" class="table table-bordered table-striped">
                            <thead style="background-color: darkcyan;color: white">
                                <tr>
                                    <th style="width: 2%;text-align: left">SL</th>
                                    <th style="text-align: center">Book Title</th>
                                    <th style="text-align: center">Book Author</th>
                                    <th style="text-align: center">Category</th>

                                    <th style="text-align: center">Discription</th>
                                    <th style="text-align: center">Total Copy</th>
                                    <th style="text-align: center">Rem Copy</th>


                                    <th style="text-align: center">Action</th>


                                </tr>
                            </thead>
                            <tbody>
                            @foreach (LMS.Models.Books item in Model)
                            {
                                <tr>
                                    <td style="text-align: center">@count</td>
                                    <td style="text-align: center">@item.BookName</td>
                                    <td style="text-align: center">@item.BookAuthor</td>

                                    <td style="text-align: center">@item.BookType</td>
                                    <td style="text-align: center">@item.BookDescription</td>
                                    <td style="text-align: center">@item.BookStock</td>
                                    <td style="text-align: center">@item.CurrentStock</td>
                                    <td style="text-align: center"></td>
                  
           
                                </tr>
                                count++;
                            }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="row">

        <div class="modal fade in" id="myModal2" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-contents">


                    <div class="ModalHead" style="background-color: darkgreen">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Request a Book to Issue</h4>


                    </div>
                    <br />
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-xs-12" style="padding-left: 30px">



                                <form class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="bookName" class="col-sm-2 control-label">Book Title</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bookName" placeholder="Book Name" value="Tech Yourself C" disabled="disabled">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="authorName" class="col-sm-2 control-label">Author Name</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="authorName" value="herbert schildt" disabled="disabled">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="bDis" class="col-sm-2 control-label">Number of Copy</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bDis" placeholder="Book Qty">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="soDate" class="col-sm-2 control-label">From Date</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control ddate" readonly="readonly" id="soDate" data-date-autoclose="true" data-date-today-highlight="true" data-date-format="dd-M-yyyy">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="fDate" class="col-sm-2 control-label">To Date</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control ddate" readonly="readonly" id="fDate" data-date-autoclose="true" data-date-today-highlight="true" data-date-format="dd-M-yyyy">
                                            </div>
                                        </div>


                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">

                                        <button type="submit" class="btn btn-info pull-right">Request</button>
                                    </div>
                                    <!-- /.box-footer -->
                                </form>
                            </div>



                        </div>




                    </div>




                    <br />

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closebtn">Close</button>
                    </div>
                </div>
            </div>





        </div>

    </div>






    <div class="row">

        <div class="modal fade in" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-contents">


                    <div class="ModalHead" style="background-color: teal">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Issue Books</h4>

                    </div>
                    <br />
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-xs-12" style="padding-left: 30px">

                                <form class="form-horizontal">
                                    <div class="box-body">

                                        <div class="form-group">
                                            <label for="bookNo" class="col-sm-2 control-label">Book Title</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bookNo" value="342580" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="bookName1" class="col-sm-2 control-label">Book Title</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bookName1" placeholder="Book Name" value="Tech Yourself C" disabled="disabled">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="authorName1" class="col-sm-2 control-label">Author Name</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="authorName1" value="herbert schildt" disabled="disabled">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="bDis" class="col-sm-2 control-label">Number of Copy</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bDis1" placeholder="Book Qty" value="1">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="bDis" class="col-sm-2 control-label">Book Available</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bDis12" placeholder="Book Qty" value="5" disabled="disabled">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="soDate" class="col-sm-2 control-label">Date Issued</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control ddate" readonly="readonly" id="soDate1" data-date-autoclose="true" data-date-today-highlight="true" data-date-format="dd-M-yyyy">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="fDate" class="col-sm-2 control-label">Date Return</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control ddate" readonly="readonly" id="fDate2" data-date-autoclose="true" data-date-today-highlight="true" data-date-format="dd-M-yyyy">
                                            </div>
                                        </div>


                                    </div>
                                    <!-- /.box-body -->
                                    <!-- /.box-footer -->
                                </form>

                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Student Info</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="bookNo" class="col-sm-2 control-label">Student Id</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bookNo1" value="201701056" disabled="disabled">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="bookName1" class="col-sm-2 control-label">Student Name</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bookName12" placeholder="Book Name" value="Md.Shariful Islam" disabled="disabled">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="bookName1" class="col-sm-2 control-label">Student Mobile</label>

                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="std" placeholder="Book Name" value="01718755949" disabled="disabled">
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>


                            <div class="box-footer">

                                <button type="submit" class="btn btn-info pull-right">Issue Book</button>
                            </div>
                        </div>




                    </div>




                    <br />

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closebtn1">Close</button>
                    </div>
                </div>
            </div>





        </div>

    </div>


</section>

<script src="~/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/custom-function.js"></script>
<script type="text/javascript">

    $(document).ready(function() {

        $('#mytable').dataTable();
        $('#soDate').datepicker();
        $('#fDate').datepicker();

        $('#soDate1').datepicker();
        $('#fDate2').datepicker();
    });

    function funcPopUp() {
        debugger;
        $("#myModal2").modal();


    }

    function funcPopUp2() {
        debugger;
        $("#myModal").modal();


    }
</script>