﻿@{
    ViewBag.Title = "Home Page";
}


@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        Dashboard
      
    </h1>

</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>50</h3>

                    <p>New Books</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>15<sup style="font-size: 20px"></sup></h3>

                    <p>Book Issued</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>144</h3>

                    <p>Members</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>20</h3>

                    <p>Fine Pending</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-8">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Issued Books</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Issue No</th>
                                    <th>Book Name</th>
                                    <th>Student</th>
                                    <th>Status</th>
                                    <th>Due Date</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <tr>
                                    <td>Isu-201891281</td>
                                    <td>The Programing Ninja</td>
                                    <td>Mohammad Shariful Islam</td>
                                    <td><span class="label label-warning">Pending</span></td>
                                    <td>23-Feb-2018</td>
                                </tr>
                                <tr>
                                    <td>Isu-201891282</td>
                                    <td>The Objective C</td>
                                    <td>Robin Islam</td>
                                    <td><span class="label label-warning">Pending</span></td>
                                    <td>23-Feb-2018</td>
                                </tr>
                                <tr>
                                    <td>Isu-201891283</td>
                                    <td>The Jquery Ninja</td>
                                    <td>Mohammad Shariful Islam</td>
                                    <td><span class="label label-warning">Pending</span></td>
                                    <td>24-Feb-2018</td>
                                </tr>
                                <tr>
                                    <td>Isu-201891284</td>
                                    <td>Android Master Guide</td>
                                    <td>Rakibul hasan</td>
                                    <td><span class="label label-warning">Pending</span></td>
                                    <td>23-Feb-2018</td>
                                </tr>
                                <tr>
                                    <td>Isu-201891285</td>
                                    <td>Thinking in Java</td>
                                    <td>Md. Sohel</td>
                                    <td><span class="label label-warning">Pending</span></td>
                                    <td>21-Feb-2018</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
    
                <!-- /.box-footer -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Recently Added Books</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="products-list product-list-in-box">
                        <li class="item">
       
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">
                                    Tech Your self C
                                    <span class="label label-warning pull-right">5</span>
                                </a>
                                <span class="product-description">
                                    herbert schildt
                                </span>
                            </div>
                        </li>
                        <!-- /.item -->
                        <li class="item">
               
                            <div class="product-info">
                                <a href="javascript:void(0)" >
                               Java : basic syntex
                                    <span class="label label-info pull-right">1</span>
                                </a>
                                <span class="product-description">
                                    Paul stuia
                                </span>
                            </div>
                        </li>
                        <!-- /.item -->
                        <li class="item">
                 
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">Introduction to Algorithms <span class="label label-danger pull-right">3</span></a>
                                <span class="product-description">
                                    Charles E. Leiserson, Clifford Stein, Ronald Rivest, and Thomas H. Cormen
                                </span>
                            </div>
                        </li>
                        <!-- /.item -->
                        <li class="item">
               
                            <div class="product-info">
                                <a href="javascript:void(0)" class="product-title">
                                    Programming Pearls
                                    <span class="label label-success pull-right">9</span>
                                </a>
                                <span class="product-description">
                                    Jon Bentley
                                </span>
                            </div>
                        </li>
                        <!-- /.item -->
                    </ul>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <a href="javascript:void(0)" class="uppercase">View All Books</a>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>
    </div>

</section>