﻿
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LMS | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">
    <link href="~/assets/plugins/SweetAlert/sweetalert.css" rel="stylesheet" />

    <style>
        .login-box, .register-box {
            width: 400px;
            margin: 10% auto;
        }

        .loadinDiv {
            margin-top: -17%;
            display: none;
        }

        body {
            margin: 0 auto;
        }
    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a><b>Library Management System</b>Login</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <div class="form-group has-feedback">
                <input type="email" class="form-control" id="form-username" placeholder="Username">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" id="form-password" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" onclick="SaveFinal()" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.social-auth-links -->
            <a href="#">I forgot my password</a><br>
        </div>
        <!-- /.login-box-body -->
    </div>

    <div class="loadinDiv">
        <div class="col-md-12 text-center" id="lodingImg">
            <img src="~/assets/img/Spinner.gif" />
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery 2.2.3 -->
    <script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/assets/plugins/SweetAlert/sweetalert.min.js"></script>
    <script src="../../plugins/iCheck/icheck.min.js"></script>
    <script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });



  function SaveFinal() {
      debugger;

      if (checkNetConnection() == true) {


          if (SaveValidation() == true) {

              $('.loadinDiv').show();
              jQuery('.login-box').css({ 'filter': 'alpha(opacity=60)', 'zoom': '1', 'opacity': '0.6' });
              LoginSuccess();
          }

      } else {

          swal('No Internet Connection!Please Connect to internet First');
      }
  }


  function SaveValidation() {

      var rVal = true;

      if ($('#form-username').val() == '') {
          rVal = false;
      }

      if ($('#form-password').val() == '') {
          rVal = false;
      }

      if (rVal == false) {
          swal('Some Values Required');
      }
      return rVal;
  }

  function CheckLogin(userName, pass) {
      debugger;
      var result = 0;
      var urlpath = '@Url.Action("CheckLogin", "Home")';
      $.ajax({
          url: urlpath,
          dataType: 'json',
          type: "Get",
          data: { userName: userName, pass: pass },
          async: false,

          success: function (data) {

              result = data;

          }
      });
      return result;


  }

  function LoginSuccess() {
      debugger;
      var userName = $('#form-username').val();
      var pass = $('#form-password').val();
      var message = "";
      var rVal = false;

      var val = true;

      if (val == true) {
          rVal = true;
          //$('#lodingImg').hide();
          window.location.href = '@Url.Action("Index", "Home")';

      }
      else {
          $('.loadinDiv').hide();
          rVal = false;
          message = 'Invalid Credentials .!!!';
          jQuery('.login-box').css({ 'filter': 'alpha(opacity=60)', 'zoom': '1', 'opacity': '1' });
      }


      if (rVal == false) {
          swal(message);
      }


  }

        function checkNetConnection() {

            return true;
        }



    </script>
</body>
</html>
